<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>添加商品</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">

    <div style="margin-top:20px">
        <form  id="add-commodity-form" autocomplete="off">
          <fieldset>
              <h3>添加商品</h3>
              <div th:if="${success}">
                  <div class="alert alert-success" th:text="${success}"/>
              </div>
              <div th:if="${warning}">
                  <div class="alert alert-warning" th:text="${warning}"/>
              </div>

              <div class="form-group row">
                  <label class="col-sm-2 col-form-label"  for="commodity-type">商品类型*</label>
                  <div class="col-sm-3">
                      <select class="form-control" id="commodity-type" name="commodityTypeId">

                      </select>
                  </div>

                  <label for="commodity-name" class="offset-sm-1 col-sm-2 col-form-label" >商品名称*</label>
                  <div class="col-sm-3">
                      <input type="text"  class="form-control" name="commodityName" id="commodity-name" autocapitalize="off" required>
                  </div>

              </div>


              <div class="form-group row">
                  <label for="commodity-specifications" class="col-sm-2 col-form-label" >商品规格</label>
                  <div class="col-sm-3">
                      <input type="text"  class="form-control" id="commodity-specifications" autocapitalize="off" name="commoditySpecifications">
                  </div>

                  <label for="origin-dispatch" class="offset-sm-1 col-sm-2 col-form-label" >产地/分发地</label>
                  <div class="col-sm-3">
                      <input type="text"  class="form-control" id="origin-dispatch" autocapitalize="off" name="originDispatch">
                  </div>

              </div>
              <div class="form-group row">
                  <label for="original-price" class="col-sm-2 col-form-label" >成本价</label>
                  <div class="col-sm-3">
                      <input type="number" name="costPrice" class="form-control" id="original-price" autocapitalize="off" min="0" step="0.01" >
                  </div>

                  <label for="price" class="offset-sm-1 col-sm-2 col-form-label" >售价*</label>
                  <div class="col-sm-3">
                      <input type="number"  class="form-control" id="price" autocapitalize="off" min="0" step="0.01" name="commodityPrice" required>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="freight" class="col-sm-2 col-form-label" >运费</label>
                  <div class="col-sm-3">
                      <input type="number" name="costPrice" class="form-control" id="freight" autocapitalize="off" min="0" step="0.01" >
                  </div>
              </div>
              <div class="form-group row">

                  <label for="commodity-desc" class="col-sm-2 col-form-label" >商品图片</label>
                  <div class="col-sm-8">
                      <input  type="url" class="form-control" id="commodity-url" autocapitalize="off" name="commodityUrl"/>
                  </div>
              </div>
              <div class="form-group row">

                  <label for="commodity-desc" class="col-sm-2 col-form-label" >商品描述</label>
                  <div class="col-sm-8">
                      <textarea  class="form-control" id="commodity-desc" autocapitalize="off" name="commodityDesc"></textarea>
                  </div>
              </div>

              <div class="form-group row">

                  <label for="express-company" class="col-sm-2 col-form-label" >快递公司</label>
                  <div class="col-sm-8">
                      <input type="text"  class="form-control" id="express-company" autocapitalize="off" name="expressCompany">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="comments" class=" col-sm-2 col-form-label" >说明</label>

                  <div class="col-sm-8">
                      <textarea  class="form-control" id="comments" autocapitalize="off" name="comments"></textarea>
                  </div>
              </div>

            <div class="form-group row">
              <input type="submit" id="NCoV-add-submit-btn" class="btn btn-lg btn-primary btn-block center-block col-lg-4 offset-lg-4" value="添加"/>
            </div>
          </fieldset>
        </form>

        <!-- 添加商品类型后结果的Modal -->
        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="result-modal-info">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary close-modal">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

  </div>
</main>

<footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

    <script src="/js/common-util.js"></script>

</footer>
</body>
<script type="text/javascript">

    $(function($){

        var commodityTypeObj = $('#commodity-type');
        var addCommodityFormObj = $('#add-commodity-form');
        var resultModalInfoObj = $('#result-modal-info');

        //显示商品类型
        var commodityResultList = window.ajax('GET','/commodity/type/list', {page:0,size:100});

        if(commodityResultList.responseType == 'N'
            && commodityResultList.responseReplyInfo.content != null){
            $.each(commodityResultList.responseReplyInfo.content,function  (){

                var optionObj = $('<option value="' + this.commodityId + '"></option>').html(this.commodityName);
                commodityTypeObj.append(optionObj);

            });
        }

        //添加商品
        addCommodityFormObj.submit(function(){
            var commodityFormValue = addCommodityFormObj.serializeArray();
            var addcommodity = {};
            $.each(commodityFormValue,function(){
                addcommodity[this.name] = this.value;
            });
            console.log(addcommodity);
            var result = window.ajax('POST','/commodity', addcommodity);

            resultModalInfoObj.html(result.responseMessage);

            console.log(result);
            if( result.responseType == 'N'){

                resultModalInfoObj.attr('data-flag',true);
                resultModalInfoObj.attr('data-url','/commodity');
            }else{
                resultModalInfoObj.attr('data-flag',false);
            }

            $('#result-modal').modal('show');

            return false;
        });

    });
</script>
</html>