<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>添加商品类型</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">

    <div style="margin-top:20px">
        <form  id="add-commodity-type-form" autocomplete="off">
          <fieldset>
              <h3>添加商品类型</h3>
              <div th:if="${success}">
                  <div class="alert alert-success" th:text="${success}"/>
              </div>
              <div th:if="${warning}">
                  <div class="alert alert-warning" th:text="${warning}"/>
              </div>

              <div class="form-group row">
                  <label for="commodity-type-name" class="col-sm-2 col-form-label" >商品类型名称</label>
                  <div class="col-sm-3">
                          <input type="text"  class="form-control" id="commodity-type-name" name = "commodityTypeName" autocapitalize="off" required>
                  </div>
              </div>


              <div class="form-group row">

                  <label for="commodity-desc" class="col-sm-2 col-form-label" >商品类型描述</label>
                  <div class="col-sm-8">
                      <textarea  class="form-control" id="commodity-desc" autocapitalize="off"></textarea>
                  </div>
              </div>
            <div class="form-group row">
              <input type="submit" id="add-commodity-type-btn" class="btn btn-lg btn-primary btn-block center-block col-lg-4 offset-lg-4" value="添加"/>
            </div>
          </fieldset>
        </form>

        <!-- 添加商品类型后结果的Modal -->
        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="result-modal-info">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary close-modal">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

  </div>
</main>

<footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="/js/common-util.js"></script>
</footer>
</body>
<script type="text/javascript">

    $(function($){

        var addCommodityTypeForm = $('#add-commodity-type-form');

        var addCommodityTypeInfoObj = $('#result-modal-info');

        //提交新增商品类型
        addCommodityTypeForm.submit(function(){

            var commodityTypeObj = {};
            $.each(addCommodityTypeForm.serializeArray(),function(){

                commodityTypeObj[this.name] = this.value;

            });

            var result = window.ajax('POST','/commodity/type/add', commodityTypeObj);

            console.log(result);
            if( result.responseType == 'N'){
                addCommodityTypeInfoObj.html('商品分类信息添加成功');
                addCommodityTypeInfoObj.attr('data-flag',true);
                addCommodityTypeInfoObj.attr('data-url','/commodity');
            }else{
                addCommodityTypeInfoObj.html('商品分类信息添加失败');
                addCommodityTypeInfoObj.attr('data-flag',false);
            }
            $('#result-modal').modal('show');
            return false;
        });

    });
</script>
</html>