<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> </title>
    <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
    <div class="container">

        <div style="margin-top:20px">
            <form  id="update-form" autocomplete="off">
                <fieldset>
                    <h3></h3>
                    <div th:if="${success}">
                        <div class="alert alert-success" th:text="${success}"/>
                    </div>
                    <div th:if="${warning}">
                        <div class="alert alert-warning" th:text="${warning}"/>
                    </div>

                    <div class="row">
                        <input type="hidden" class=" h3" id="commodity-id" name="commodityId"/>
                    </div>
                    <div class="row">
                        <img class="img-thumbnail" id="commodity-url" width="100">
                        <label class=" my-auto ml-5 h3 text-center" id="commodity-name"></label>
                    </div>
                    <div class="form-group row mt-3" >
                        <label class="col-sm-2 col-form-label"  for="commodity-chart-type">销量图类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="commodity-chart-type" name="commodityTypeId">

                                <option value="1">近一个月的销量走势图</option>
                                <option value="2">近一个月的总销量走势图</option>
                                <option value="3">近三个月的销量走势图</option>
                                <option value="4">近三个月的总销量走势图</option>
                                <option value="5">近半年的销量走势图</option>
                                <option value="6">近半年的总销量走势图</option>
                                <option value="7">一年内的销量走势图</option>
                                <option value="8">一年内的总销量走势图</option>
                                <option value="9">历史销量走势图</option>
                                <option value="10">历史总销量走势图</option>

                            </select>
                        </div>
                    </div>

                    <!--近一个月的销量图-->
                    <div class="row" id="past-month-sales-chart" style="height:400px;">

                    </div>
                    <!--Total sales-->
                    <div class="row mg-5"  style="height:400px;">

                        <div class="col-sm-6" id="total-sales-chart">

                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="commodity-specifications" class="col-sm-2 col-form-label" >商品规格</label>

                        <div class="col-sm-3">
                            <input type="text"  class="form-control" id="commodity-specifications" autocapitalize="off" name="commoditySpecifications">
                        </div>

                        <label for="origin-dispatch" class="offset-sm-1 col-sm-2 col-form-label" >产地/分发地</label>
                        <div class="col-sm-3">
                            <input type="text"  class="form-control" id="origin-dispatch" autocapitalize="off" name="originDispatch">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="cost-price" class="col-sm-2 col-form-label" >成本价</label>
                        <div class="col-sm-3">
                            <input type="number"  class="form-control" id="cost-price" autocapitalize="off" min="0" step="0.01" name="costPrice" >
                        </div>
                        <label for="price" class="offset-sm-1 col-sm-2 col-form-label" >售价</label>
                        <div class="col-sm-3">
                            <input type="number"  class="form-control" id="price" autocapitalize="off" min="0" step="0.01" name="commodityPrice" required>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="commodity-desc" class="col-sm-2 col-form-label" >商品描述</label>
                        <div class="col-sm-8">
                            <textarea  class="form-control" id="commodity-desc" autocapitalize="off" name="commodityDesc"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label for="express-company" class="col-sm-2 col-form-label" >快递公司</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control" id="express-company" autocapitalize="off" name="expressCompany">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="comments" class=" col-sm-2 col-form-label" >说明</label>
                        <div class="col-sm-8">
                            <textarea  class="form-control" id="comments" autocapitalize="off" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" style="height: 80px;">
                        <!--<input type="submit" id="NCoV-add-submit-btn" class="btn btn-lg btn-primary btn-block center-block col-lg-4 offset-lg-4" value="添加"/>-->
                    </div>
                    <div class="fixed-bottom " style="background: #EEF0F4;height: 60px; opacity: 0.8;">
                        <input type="button" id="update-info-btn" style="margin-right: 2em;" class="btn btn-primary float-right pointer" data-update-url="/commodity" value="更新"/>
                        <input type="button" id="close-page" style="margin-right: 2em;" class="btn btn-primary float-right pointer" value="关闭"/>
                    </div>
                </fieldset>
            </form>


            <!-- 添加订单后结果的Modal -->
            <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="result-modal-info">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary close-modal">取消</button>
                            <button type="button" data-url="/commodity"  class="btn btn-primary confirm-close-modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>

    <script src="/js/common-util.js"></script>

</footer>
</body>
<script type="text/javascript">

    $(function($){

        //订单id
        var commodityIdObj = $('#commodity-id');

        //商品图片
        var commodityUrlObj = $('#commodity-url');

        //商品名称
        var commodityNameObj = $('#commodity-name');

        //商品规格
        var commoditySpecificationsObj = $('#commodity-specifications');

        //产地/分发地
        var originDispatchObj = $('#origin-dispatch');

        //成本价
        var costPriceObj = $('#cost-price');

        //售价
        var priceObj = $('#price');

        //商品描述
        var commodityDescObj = $('#commodity-desc');

        //快递公司
        var expressCompanyObj = $('#express-company');

        //说明
        var commentsObj = $('#comments');

        //获取订单编号
        var commodityId = localStorage.getItem('commodityId');
        commodityIdObj.val(commodityId);

        var commodityDetailResult = window.ajax('GET','/commodity/' + commodityId,null);
        console.log(commodityDetailResult);

        if(commodityDetailResult.responseType == 'N'){

            var commodityInfo  = commodityDetailResult.responseReplyInfo;

            commodityUrlObj.attr('src',commodityInfo.commodityUrl);
            commodityNameObj.html(commodityInfo.commodityName);
            $('title').html(commodityInfo.commodityName);
            commoditySpecificationsObj.val(commodityInfo.commoditySpecifications);
            originDispatchObj.val(commodityInfo.originDispatch);
            costPriceObj.val(commodityInfo.costPrice);
            priceObj.val(commodityInfo.commodityPrice);
            commodityDescObj.val(commodityInfo.commodityDesc);
            expressCompanyObj.val(commodityInfo.expressCompany);
            commentsObj.val(commodityInfo.comments);

        }
        /**
         * 销量图类型
         * */
        $('#commodity-chart-type').change(function(){

            alert($(this).val());
        });


        //过去一个月的销量图
        var pastMonthSalesChart = echarts.init(document.getElementById('past-month-sales-chart'));

        //total sales chart
        var totalSalesChart = echarts.init(document.getElementById('total-sales-chart'));


        var pastMonthSalesOption = {
            title: {
                text: '近一月内的销量'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['近一月内的销量']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '近一月内的销量',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                }
            ]
        };
        pastMonthSalesChart.setOption(pastMonthSalesOption);

        var totalSalesOption =  {
            title: {
                text: '购买次数Top10',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                left: 'center',
                top: 'bottom',
                data: ['rose1', 'rose2', 'rose3', 'rose4', 'rose5', 'rose6', 'rose7', 'rose8']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            series: [
                {
                    name: '购买次数',
                    type: 'pie',
                    radius: [20, 110],
                    center: ['25%', '50%'],
                    roseType: 'radius',
                    label: {
                        show: false
                    },
                    emphasis: {
                        label: {
                            show: true
                        }
                    },
                    data: [
                        {value: 5, name: '张三'},
                        {value: 10, name: '李四'},
                        {value: 15, name: '王五'},
                        {value: 20, name: '刘二'},
                        {value: 25, name: '李三'},
                        {value: 30, name: '王麻子'},
                        {value: 35, name: '高七'},
                        {value: 40, name: '尹十', color: '#00ff00'},
                        {value: 45, name: '杜八', color: '#00ff00'},
                        {value: 50, name: '白三'}
                    ],itemStyle: {
                        //通常情况下：
                        normal:{
                            //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
                            color: function (params){
                                var colorList = ['#FCEA21','#C9DB31','#6BBE45','#3CB878','#1F9BCA',
                                                '#2C6EA5','#2F3D8F','#6B388D','#B21D4B','#D17E28'];
                                return colorList[params.dataIndex];
                            }
                        },
                        //鼠标悬停时：
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                }
            ]
        };

        totalSalesChart.setOption(totalSalesOption);

    });
</script>
</html>