<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>商品</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">

    <div style="margin-top:20px">
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header row">
                        <h4 class="col-sm-2">
                            <i class="icon-reorder"></i> 商品列表
                        </h4>
                        <div class="col-sm-2 offset-sm-4 ">
                            <a class="btn btn-primary " href="#" id="search-commodity-type">查看商品类型</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-primary " th:href="@{/add/commodity/type}">添加商品类型</a>
                        </div>
                        <div class="col-sm-2  ">
                            <a class="btn btn-primary " th:href="@{/add/commodity}">添加新商品</a>
                        </div>
                    </div>
                    <div class="form-group row mt-10" style="margin-top: 35px;margin-bottom: 35px;">

                        <div class="offset-sm-1 col-sm-8 ml-auto">
                            <input type="text"  class="form-control" id="commodity-search" autocapitalize="off"
                                   placeholder='请输入商品名称' required>
                        </div>
                        <button type="button" class="btn btn-primary offset-sm-1 col-sm-1 ml-auto" id="search-commodity-btn">查询</button>
                    </div>
                    <div class="widget-header">
                    </div>
                    <div class="data no-padding"  style="margin-top: 1em;">
                        <table id="list-table"
                               class="table  table-hover table-striped">
                            <thead>
                            <tr style="white-space:nowrap" class="text-center">
                                <th>商品类型</th>
                                <th>商品名称</th>
                                <th>成本</th>
                                <th>售价</th>
                                <th>规格</th>
                                <th>总销量</th>
                                <th>总利润</th>
                            </tr>
                            </thead>
                            <tbody style="white-space:nowrap">

                            </tbody>
                        </table>
                    </div>
                    <!--分页-->
                    <nav aria-label="Page navigation example" id="pagination-list" data-url="/commodity/list" data-page-name="commodity">
                        <div class="clearfix ">
                            <div class="float-right page-info">第1页/共5页(共24条)</div>
                        </div>
                        <ul class=" pagination justify-content-end pt-2">
                            <li>
                                <button class="pagination-page pointer btn btn-primary  first-page"   tabindex="-1">首页</button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="pagination-page pointer btn btn-primary  previous-page"  tabindex="-1" ><<</button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="pagination-page pointer btn btn-primary next-page" >>></button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="pagination-page btn btn-primary pointer last-page" href="#">末页</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

  </div>
</main>

<footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>

    <script src="/js/common-util.js"></script>
</footer>
</body>
<script type="text/javascript">

    $(function($){

        var commoditySearchObj =$('#commodity-search');

        var commodityValue = null;
        var commodityList = window.ajax('GET','/commodity/list', {page:0,size : 5,commodityName: commodityValue});

        window.drawCommodityTableList(commodityList);

        //查询商品
        $('#search-commodity-btn').click(function () {

            commodityValue = commoditySearchObj.val();

            commodityList = window.ajax('GET','/commodity/list', {page:0,size : 5,commodityName: commodityValue});

            window.drawCommodityTableList(commodityList);
        });

    });
</script>
</html>