<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>查快递</title>
    <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
    <div class="container">


        <div style="margin-top:40px">
            <form  id="add-2019-nCoV-form" autocomplete="off">
                <fieldset>
                    <h3>快递查询</h3>
                    <div th:if="${success}">
                        <div class="alert alert-success" th:text="${success}"/>
                    </div>
                    <div th:if="${warning}">
                        <div class="alert alert-warning" th:text="${warning}"/>
                    </div>

                    <div class="form-group row" >

                        <div class="offset-sm-1 col-sm-8 ml-auto">
                            <input type="text"  class="form-control" id="express-search" autocapitalize="off"
                                   placeholder='请输入手机号' required>
                        </div>
                        <button type="button" class="btn btn-primary offset-sm-1 col-sm-1 ml-auto" id="search-express-btn">查询</button>
                    </div>
                </fieldset>
            </form>
            <ul class="list-unstyled" id="express-info-list">


            </ul>
        </div>
        <div class="progress center-block invisible" style="height: 30px;margin-top: 60px;" id="express-list-progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height: 30px;">查询中...</div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="expressDetailModal" tabindex="-1" role="dialog" aria-labelledby="expressDetailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="expressDetailModalLabel">物流详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress" id="express-detail-progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                        <ul class="list-unstyled" id="express-detail-info" style="display: none;">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="starter-template">
        </div>
    </div>
</main>

<footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

</footer>
</body>
<script type="text/javascript">

    $(function($){

        //查询快递
        $('#search-express-btn').click(function () {
            $('#express-list-progress').removeClass('invisible');
            var expressInfoList = $('#express-info-list');
            expressInfoList.empty();
            var searchIptObj = $('#express-search');
            var searchIptVal = searchIptObj.val();
            var searchVal  = new Array();
            searchVal = searchIptVal.split(';');

            console.log(searchVal);

            var keys = {
                keys : searchVal
            }
            $.ajax({
                async : true,
                type : 'GET',
                url : '/express/list',
                contentType: "application/json;charset=utf-8",
                data : keys,//400
                success : function(result) {
                    var content = result.content;
                    console.log(content);

                    content.forEach(function(item,index){

                        var contentCode = item.code;
                        if( contentCode == '200'){

                            var trObj = $('<li></li>');
                            /*var title = $('<span>'+ item.message+'</span>');
                            trObj.append(title);*/
                            var sonUlObj = $('<ul class="list-unstyled" style="padding:0px;"></ul>');
                            item.data.forEach(function (element,i) {
                                console.log(element);

                                var detailOrder = element.detailOrder;

                                var expressli = $('<li style="padding: 10px 0px;margin-top:10px;border: 1px solid #ced4da;min-height: 110px;"></li>');
                                var expressImgDiv = $('<div class="float-left"  style="padding-left:10px;width:90px;"></div>');
                                var expressImgObj = $('<img   class="img-thumbnail m-auto" width="80">').attr('src',element.goodsImageUrl);
                                expressImgDiv.append(expressImgObj);
                                expressli.append(expressImgDiv);

                                var goodsInfoDiv = $('<div class="d-inline-block" style="padding-left: 10px;width:calc(100% - 90px);"></div>');
                                //商品名称
                                var  goodsNameSpan = $('<strong class="d-inline-block font-weight:bold;"></strong>').append(element.goodsName );
                                goodsInfoDiv.append(goodsNameSpan);
                                //商品数量
                                var goodsPieces = $('<span style="color: #909090;">&nbsp;×&nbsp;'+ detailOrder.goodsPieces +'</span>')
                                goodsInfoDiv.append(goodsPieces);

                                /*
                                //单价
                                var retailPrice = $('<span class="col-sm-1"></span>').append("单价:" +  detailOrder.retailPrice);
                                expressli.append(retailPrice);
                                //运费
                                var goodsAmountShipping = $('<span class="col-sm-1"></span>').append("运费:" +  detailOrder.goodsAmountShipping);
                                expressli.append(goodsAmountShipping);*/

                                //
                                expressli.append(goodsInfoDiv);

                                var orderStatusObj = $('<div class="d-inline-block" style="padding-left: 10px;width:calc(100% - 90px);"></div>');

                                /*//商品数量
                                var goodsPieces = $('<span class="d-inline-block"></span>').append('<span style="color: #6C6C6C;font-size:0.8rem;">商品数量:</span>'  +  '<span style="color: #1E5B30;font-weight:bold;">'+ detailOrder.goodsPieces +'</span>');
                                orderStatusObj.append(goodsPieces);*/
                                //总价
                                var goodsAmountReceivable = $('<div class="d-inline-block " style="width: 80px;"></div>').append('<span style="color: #6C6C6C;font-size:0.8rem;">总价:</span>' +  '<span style="color: #1E5B30;font-weight:bold;">￥</span><span style="color: #1E5B30;font-weight:bold;">'+ detailOrder.goodsAmountReceivable +'</span>');
                                orderStatusObj.append(goodsAmountReceivable);
                                //订单状态
                                var orderStatus = $('<span class="d-inline-block float-right" style="padding-right: 10px; color: #FF4C00;"></span>').append( element.orderStatus);
                                orderStatusObj.append(orderStatus);

                                expressli.append(orderStatusObj);

                                var expressStatusObj = $('<div class="d-inline-block" style="padding-left: 10px;width:calc(100% - 90px);"></div>');
                                //运费
                                var goodsAmountShippingObj = $('<span class="d-inline-block " ></span>').append('<span style="color: #6C6C6C;font-size:0.8rem;">运费:</span>' + '<span style="color: #1E5B30;font-weight:bold;">￥</span><span style="color: #1E5B30;font-weight:bold;">'+detailOrder.goodsAmountShipping+ '</span>');
                                expressStatusObj.append(goodsAmountShippingObj);
                                //日期
                                var commitTime = $('<span class="d-inline-block float-right" style="width: 95px;padding-right: 10px;color: gray;"></span>').append( element.commitTime);
                                expressStatusObj.append(commitTime);
                                expressli.append(expressStatusObj);

                                //快递最新信息
                                if(detailOrder.orderTrackings != null){
                                    detailOrder.orderTrackings.forEach(function (orderTracking,i) {
                                        var orderTrackingDiv = $('<div class="express-detail-info" data-expressCompanyName="'+orderTracking.expressCompanyName+'" data-trackingNo="'+orderTracking.trackingNo+'" style="padding-left:10px;margin-top:15px;cursor:pointer;"></div>');
                                        /*orderTrackingDiv.data('expressCompanyName', orderTracking.expressCompanyName);
                                        orderTrackingDiv.data('trackingNo',orderTracking.trackingNo);*/

                                        var expressCompanyNameObj = $('<span style="color:#6c6c6c;font-size:0.9rem;" data-toggle="modal" data-target="#expressDetailModal"></span>').append(orderTracking.expressCompanyName + "：" + orderTracking.trackingNo);
                                        orderTrackingDiv.append(expressCompanyNameObj);
                                        expressli.append(orderTrackingDiv);

                                        var lastProcessObj = $('<div class="d-inline-block express-detail-info"  data-expressCompanyName="'+orderTracking.expressCompanyName+'" data-trackingNo="'+orderTracking.trackingNo+'"   style="cursor: pointer;padding: 0 10px;color: rgb(234, 122, 56);" data-toggle="modal" data-target="#expressDetailModal"></div>').append(orderTracking.lastProcess);
                                        /*lastProcessObj.data('expressCompanyName', orderTracking.expressCompanyName);
                                        lastProcessObj.data('trackingNo',orderTracking.trackingNo);*/
                                        expressli.append(lastProcessObj);

                                    });
                                }
                                sonUlObj.append(expressli);
                            });
                            trObj.append(sonUlObj);
                        }
                        $('#express-list-progress').addClass('invisible');
                        expressInfoList.append(trObj);
                    });
                },
                dataType : 'json'
            });
        });
        //查询快递的详细信息
        $(document.body).on("click",".express-detail-info", function(){

            $('#expressDetailModal').modal('hide');
            var thisObj = $(this);
            console.log(thisObj);
            var expressCompanyName = thisObj.attr('data-expressCompanyName');
            var trackingNo = thisObj.attr('data-trackingNo');
            console.log(expressCompanyName +':' + trackingNo);
            $.ajax({
                async : true,
                type : 'GET',
                url : '/express/detail',
                contentType: "application/json;charset=utf-8",
                data : {expressCompanyName:expressCompanyName,trackingNo:trackingNo},//400
                success : function(result) {
                    console.log(result);
                    if( result.code == '200'){
                        var expressDetailListObj = $('#express-detail-info');
                        result.content.forEach(function(orderTracking,i){
                            var detailLiObj = $('<li class="" style="margin-top: 15px;"></li>');

                            //日期
                            var expressDateDivObj = $('<div class="float-left" style="width:50px;color: #999999;"></div>');
                            var expressDate = orderTracking.ftime.substring(5,10);
                            var dateSpanObj = $('<span style="font-size:1rem;" class="d-block"></span>').append(expressDate);
                            expressDateDivObj.append(dateSpanObj);
                            var expressTime = orderTracking.ftime.substring((orderTracking.ftime.indexOf(':'))-2,(orderTracking.ftime.indexOf(':'))+3);
                            console.log(expressTime);
                            //时间
                            var timeSpanObj = $('<span style="font-size:0.7rem; padding-right:10px;" class="float-right"></span>').append(expressTime);
                            expressDateDivObj.append(timeSpanObj);
                            detailLiObj.append(expressDateDivObj);


                            var expressStateDivObj = $('<div class="float-left" style="width: calc(100% - 60px);margin-left:10px;"></div>');
                            //快递状态
                            var expressStateSpanObj = $('<span style="font-size: 1rem;min-height: 24px;color: #FF4C00;" class="d-block"></span>').append(orderTracking.opDesc);
                            expressStateDivObj.append(expressStateSpanObj);
                            var expressAddressObj = orderTracking.context.substring(orderTracking.context.indexOf('【') -1 );
                            console.log(expressAddressObj);
                            //快递地址
                            var expressAddressSpanObj = $('<span style="font-size: 0.7rem; " class="float-left"></span>').append(expressAddressObj);
                            expressStateDivObj.append(expressAddressSpanObj);
                            detailLiObj.append(expressStateDivObj);

                            expressDetailListObj.append(detailLiObj);

                        });
                        $('#express-detail-progress').css('display','none');
                        expressDetailListObj.css('display','block');
                    }
                }
            });

        });
    });

</script>
</html>