<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>主页</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">


    <div style="margin-top:40px">
      <form  id="add-2019-nCoV-form" autocomplete="off">
        <fieldset>
          <!--<h3>添加商品</h3>-->
          <div th:if="${success}">
            <div class="alert alert-success" th:text="${success}"/>
          </div>
          <div th:if="${warning}">
            <div class="alert alert-warning" th:text="${warning}"/>
          </div>

          <div class="form-group row">

            <label for="search-commodity" class="col-sm-2 col-form-label" >商品名称</label>
            <div class="col-sm-3">
                <input type="text"  class="form-control" id="search-commodity" autocapitalize="off" placeholder="请输入要查询的商品名称">
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label" >销量图时间段</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option value="fresh-fruit" selected="selected">最近一周</option>
                <option value="vegetables">最近一个月</option>
                <option value="casual-snacks">最近一季度</option>
                <option value="casual-snacks">最近半年</option>
                <option value="casual-snacks">一年内</option>
                <option value="casual-snacks">所有</option>
              </select>
            </div>

            <button type="button" class="btn btn-primary offset-sm-1 col-sm-2">查询</button>

          </div>

        </fieldset>
      </form>
    </div>
    <div class="starter-template">
    </div>
    <!-- 新增确诊病例-->
    <div class="row" id="commodity-sale-chart" style="height:400px;">

    </div>

  </div>
</main>

<footer>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

  <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>

  <script src="/common-util.js"></script>
</footer>
</body>
<script type="text/javascript">

  window.onload = function(){

    //新增确诊病例
    window.drawChart('commodity-sale-chart', '最近一周销售量前三的产品', null,['closeContacts','suspectedCase','watching']);

  }

</script>
</html>