<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NCP</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">
    <div class="starter-template">
      <h3>新型冠状病毒感染的肺炎疫情情况</h3>
    </div>
    <input type="file" id="file">
    <button id="submit-file">提交</button>
    <!-- 新增确诊病例-->
    <div class="row" id="2019nCoV-new-confirmed-cases" style="height:400px;">

    </div>
    <!--累计确诊病例(例)-全国-->
    <div class="row" id="2019nCoV-cumulativeConfirmedCases-chart" style="height:400px;">

    </div>
    <!--密切接触者(人)-全国|疑似病例-全国|正在接受医学观察(人)-全国-->
    <div class="row" id="2019nCoV-closeContactsSuspectedCaseWatching-chart" style="height:400px;">

    </div>

    <div class="row" id="2019nCoV-new-deaths-chart" style="height:400px;">

    </div>
    <!--港澳台通报确诊病例-->
    <div class="row" id="2019nCoV-KongMacaoTai-chart" style="height:400px;">

    </div>


  </div>
</main>

<footer>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

  <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>

</footer>
</body>
<script type="text/javascript">

  window.onload = function(){
    $('#submit-file').click(function () {
      var file = $('#file').files[0];
      var reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function () {
        var ss = this.result.split("\r\n")[1].split(",")[0];
      }
    });

  }

</script>
</html>