<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>订单</title>
  <div th:replace="fragments/header"/>
</head>
<body>

<div th:replace="fragments/navbar :: header('index')"/>
<main role="main" class="container">
  <div class="container">

    <div style="margin-top:20px">
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header row">
                        <h4 class="col-sm-2">
                            <i class="icon-reorder"></i> 订单列表
                        </h4>
                        <div class="col-sm-2  offset-sm-8">
                            <a class="btn btn-primary " th:href="@{/add/order}">添加订单</a>
                        </div>
                        <!-- <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs "><a
                                    th:href="@{/admin/products/add}"><i class="icon-plus"></i></a></span>
                            </div>
                        </div> -->
                    </div>
                    <div class="widget-header">
                    </div>
                    <div class="table-responsive" style="margin-top: 1em;">
                        <table class="table  table-hover table-striped" id="list-table">
                            <thead>
                            <tr class="text-center" style="white-space:nowrap">
                                <th >订单编号</th>
                                <th >订单日期</th>
                                <th >购买商品</th>
                                <th >付款人</th>
                                <th >付款方式</th>
                                <th >商品总额</th>
                                <th >运费</th>
                                <th >优惠券</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" id="pagination-list" data-url="/user/list" data-page-name="user">
                        <div class="clearfix ">
                            <div class="float-right page-info">第1页/共-页(共-条)</div>
                        </div>
                        <ul class=" pagination justify-content-end pt-2">
                            <li>
                                <button class="pagination-page pointer btn btn-primary  first-page"   tabindex="-1">首页</button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="pagination-page pointer btn btn-primary  previous-page"  tabindex="-1" ><<</button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="pagination-page pointer btn btn-primary next-page" >>></button>
                            </li>
                            <li style="margin-left: 10px;">
                                <button  class="btn btn-primary pointer last-page" href="#">末页</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

  </div>
</main>
    <div th:replace="fragments/footer :: footer"/>
</body>
<script type="text/javascript">

    $(function($){

    });
</script>
</html>